[Unit]
Description=ARM-CC-GO Service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3.8 /home/ec2-user/CC/arm-cc-go/main.py

[Install]
WantedBy=multi-user.target