[Unit]
Description=ARM-CC-GO Service
After=multi-user.target

[Service]
Type=exec
Restart=always
ExecStart=python3.10 /home/ubuntu/prod/arm-go/main.py start
RestartSec = 5
Restart=on-failure
TimeoutStartSec = infinity

[Install]
WantedBy=multi-user.target