[Unit]
Description=ARM-CC-GO Service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3.10 /home/ubuntu/prod/arm-go/main.py start

[Install]
WantedBy=multi-user.target